@inherits LayoutComponentBase

<PageTitle>shop</PageTitle>

<div class="page">
    <div>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
    </div>

    <main>
 <MudAppBar Color="Color.Primary" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" Href="/" />
    <MudSpacer />
    <MudIconButton Icon="@Icons.TwoTone.Login" Color="Color.Inherit" Href="/login"/>
</MudAppBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

